:root {
  --bg-color: #262626;
  --text-color: #f5f5f5;
  --circle-inside: #f5f5f5;
  --circle-outside: #f0851d;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-bottom: 20vh;
}

main {
  display: flex;
  align-items: center;
  /* justify-content: space-around;  */
  flex-direction: column;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between; /*should be commented*/
  margin-top: 30vh; /*should be commented*/
  width: 25vw;
  /* margin: 150px; */
}

.circle {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  background-color: var(--circle-inside);
  border-radius: 50%;
  border: 9px solid var(--circle-outside);
}

.project:not(:first-child) .circle::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 30vh;
  bottom: 179%;
  left: 50%;
  background-color: rgb(95, 104, 104);
}

.project-info {
  width: 100px;
  height: 100px;
  background-color: blueviolet;

}
