@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.panel {
  color: rgba(255, 255, 255, 0.644);
  height: 10vh;
  width: 90vw;
  margin: 10px 0px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 0.5;
  transition: flex 0.5s ease-in-out;
  position: relative;
}

h3 {
  position: absolute;
  opacity: 0;
  left: 20px;
  bottom: 5px;
  transition: opacity 0.5s ease-in;
}

.active {
  flex: 4;
}
.active h3 {
  opacity: 1;
}
